---
applications:
  gateway:
    traefik:
      deployment_type: kustomize
      network: true
      kustom:
        ports:
          traefik: 13579
      images:
      - traefik
      storage:
      - name: traefik-plugins
        size: 5Mi
        type: local_folder
        config: true
  istio-system:
    istiod-config:
      deployment_type: kustomize
    istiod:
      deployment_type: kustomize
      images:
      - pilot
  auth:
    Xory-commons:
      git: https://github.com/ory/k8s.git
      subdir: helm/charts/ory-commons
      install: false
    hydra:
      deployment_type: kustomize
      images:
      - hydra
      requires:
      - type: default
        name: hydra-config
        namespace: auth
      storage:
      - name: hydra
        size: 5Mi 
      network:
        svcPort: 4444
        svcName: hydra-public
        prefix: /hydra
    auth-operator: # only valid with hydra.config.dsn=sqlite:///data/hydra.sqlite?_fk=true or =memory
      deployment_type: kustomize
      images:
      - auth-operator
      storage:
      - name: auth-operator
        size: 2Mi
        type: local_folder
        config: true
    idp:
      deployment_type: kustomize
      images:
      - idp
      network: true
    oauth2-proxy:
      deployment_type: kustomize
      images:
      - oauth2-proxy
      network:
        svcPort: 80
        prefix: /oauth2-hydra
        rewrite: /oauth2-hydra/
  home:
    grott:
      git: "{{ own_git_url }}"
      subdir: charts/grott
    zigbee2mqtt:
      deployment_type: kustomize
      flags: ['no strip']
      affinity: k8s-2-int.adm13
      images:
      - zigbee2mqtt
      network:
        rewrite: /zigbee2mqtt
      storage:
      - name: zigbee2mqtt
        size: 100Mi
        config: true
    mosquitto:
      deployment_type: kustomize
      images:
      - mosquitto
      storage:
      - name: mosquitto
        size: 1Gi
    home-assistant:
      deployment_type: kustomize
      images:
      - home-assistant
      storage:
      - name: home-assistant
        size: 100Mi
        config: true
      network:
        prefix: "/"
        domain: ha.my-lb.adm13
        old_proxy_sidecar: 
          app.kubernetes.io/instance: home-assistant
      requires:
      - type: postgresql
        name: postgres
        namespace: db
        config:
          database: ha
          username: ha
          password: same
  tools:
    infopage:
      deployment_type: kustomize
      images:
      - fastapi
      network: true
      storage:
      - name: infopage
        size: 5Mi
        type: local_folder
        config: true
  db:
    postgresql:
      deployment_type: kustomize
      kustom:
        Ximage: "db/postgresql:{{ software.postgresql.version }}"
        user: "{{ service_secrets | selectattr('type', 'match', 'db') | selectattr('name', 'match', 'postgres') | map(attribute='values') | map(attribute='username') | first }}"
        pass: "{{ service_secrets | selectattr('type', 'match', 'db') | selectattr('name', 'match', 'postgres') | map(attribute='values') | map(attribute='password') | first }}"
        trustedSubnet: "{{ k8s.podSubnet }}"
        runAs: "{{ lookup('pipe', 'id -u postgres') | int }}"
        dataPath: /var/lib/postgresql
        confPath: /conf
      images:
      - postgresql
      storage: 
      - name: data-postgresql-0
        type: longhorn
        size: 2Gi
    dbperf:
      git: https://github.com/cetic/helm-postgresql.git
      chart: postgresql
      helm_options: --set postgresql.username="{{ service_secrets | selectattr('type', 'match', 'db') | selectattr('name', 'match', 'postgres') | map(attribute='values') | map(attribute='username') | first }}" --set postgresql.password="{{ service_secrets | selectattr('type', 'match', 'db') | selectattr('name', 'match', 'postgres') | map(attribute='values') | map(attribute='password') | first }}"
      git_to_local_params: --fix_source=.image.tag={{ software.postgresql.version }} --fix_source=.volumePermissions.image.tag={{ software.postgresql.version }} --fix_source=.volumePermissions.image.repository=db/postgres
      storage: 
      - name: data-dbperf-postgresql-0
        size: 11Gi
  kubext:
    valmut:
      deployment_type: kustomize
      flags: ['certs']
      images:
      - fastapi
      storage:
      - name: valmut
        size: 5Mi
        type: local_folder
        config: true
      
    descheduler:
      deployment_type: kustomize
      images:
      - descheduler
    
  longhorn-system:
    longhorn:
      deployment_type: kustomize
      images:
      - longhorn-manager
      - livenessprobe
      - backing-image-manager
      - csi-attacher
      - csi-node-driver-registrar
      - csi-provisioner
      - csi-resizer
      - csi-snapshotter
      - longhorn-engine
      - longhorn-instance-manager
      - longhorn-share-manager
      - longhorn-ui
      - support-bundle-kit
      xgit: https://github.com/longhorn/longhorn.git
      xsubdir: chart
      xbranch: "{{ software.longhorn.version }}"
      xhelm_options: --set defaultSettings.logLevel=Info --set csi.kubeletRootDir=/var/lib/kubelet/
      network:
        svcName: longhorn-frontend
        prefix: /longhorn
        svcPort: 80
        old_proxy_sidecar: 
         app: longhorn-ui
      storage:
      - name: longhorn-1
        type: local
        size: 30Gi
        mountpoint: /var/lib/longhorn
