---
applications:
  kube-flannel:
    kube-flannel:
      images:
      - flannel
      - flannel-cni-plugin
  gateway:
    traefik:
      network: true
      kustom:
        ports:
          traefik: 13579
      images:
      - traefik
      storage:
      - name: traefik-plugins
        size: 5Mi
        type: local_folder
        config: true
  istio-system:
    istiod-config:
    istiod:
      images:
      - pilot
  auth:
    hydra:
      images:
      - hydra
      requires:
      - type: default
        name: hydra-config
        namespace: auth
      storage:
      - name: hydra
        size: 5Mi 
      network:
        svcPort: 4444
        svcName: hydra-public
        prefix: /hydra
    auth-operator: # only valid with hydra.config.dsn=sqlite:///data/hydra.sqlite?_fk=true or =memory
      images:
      - auth-operator
    idp:
      images:
      - idp
      network: true
    oauth2-proxy:
      images:
      - oauth2-proxy
      network:
        svcPort: 80
        prefix: /oauth2-hydra
        rewrite: /oauth2-hydra/
  home:
    grott:
      git: "{{ own_git_url }}"
      subdir: charts/grott
    zigbee2mqtt:
      flags: ['no strip']
      affinity: k8s-2-int.adm13
      images:
      - zigbee2mqtt
      network:
        rewrite: /zigbee2mqtt
      storage:
      - type: longhorn
        size: 100Mi
    mosquitto:
      images:
      - mosquitto
      storage:
      - type: longhorn
        size: 3Mi
    home-assistant:
      images:
      - home-assistant
      storage:
      - name: home-assistant
        size: 100Mi
        config: true
      network:
        prefix: "/"
        domain: ha.my-lb.adm13
      requires:
      - type: postgresql
        name: postgres
        namespace: db
        config:
          database: ha
          username: ha
          password: same
  tools:
    infopage:
      images:
      - fastapi
      network: true
      storage:
      - name: infopage
        size: 5Mi
        type: local_folder
        config: true
  db:
    postgresql:
      kustom:
        user: "{{ service_secrets | selectattr('type', 'match', 'db') | selectattr('name', 'match', 'postgres') | map(attribute='values') | map(attribute='username') | first }}"
        pass: "{{ service_secrets | selectattr('type', 'match', 'db') | selectattr('name', 'match', 'postgres') | map(attribute='values') | map(attribute='password') | first }}"
        trustedSubnet: "{{ k8s.podSubnet }}"
        runAs: "{{ lookup('pipe', 'id -u postgres') | int }}"
        dataPath: /var/lib/postgresql
        confPath: /conf
      images:
      - postgresql
      storage: 
      - name: data-postgresql-0
        type: longhorn
        size: 2Gi
  kubext:
    valmut:
      flags: ['certs']
      images:
      - fastapi
    descheduler:
      images:
      - descheduler
  longhorn-system:
    longhorn:
      images:
      - longhorn-manager
      - livenessprobe
      - backing-image-manager
      - csi-attacher
      - csi-node-driver-registrar
      - csi-provisioner
      - csi-resizer
      - csi-snapshotter
      - longhorn-engine
      - longhorn-instance-manager
      - longhorn-share-manager
      - longhorn-ui
      - support-bundle-kit
      network:
        svcName: longhorn-frontend
        prefix: /longhorn
        svcPort: 80
