- name: set app fact
  set_fact:
    name_prefix: "namespace:{{ k8s_namespace.key }} app:{{ application.key }} -"
    app: "{{ application.key }}"
    local_playbook_temp: "{{ remote_temp }}/{{ own_git_url | basename | split('.') | first }}"

- block:
  - name: "{{ name_prefix }} handle additional images" # to have the images dict recreated with defaults filled
    vars:
      limit_images: []
      default_section: "{{ k8s_namespace.key }}"
      dry_run: "{{ true }}"
    include_role:
      name: gentoo-image-builder
  when: application.value.images is defined

- block: # prepare application playbook integration
  - name: "{{ name_prefix }} clone application playbooks to Ansible Controller"
    ansible.builtin.git:
      repo: '{{ own_git_url }}'
      dest: "{{ local_playbook_temp }}"
      depth: 1
    ignore_errors: true
    delegate_to: localhost

  - name: "{{ name_prefix }} check if application playbooks exist"
    ansible.builtin.stat:
      path: "{{ local_playbook_temp }}/application_playbooks/{{ application.key }}"
    register: playbook_dir_stat
    delegate_to: localhost

  - name: "{{ name_prefix }} set playbook_dir_exists"
    set_fact:
      playbook_dir_exists: "{{ playbook_dir_stat.stat.exists if (playbook_dir_stat.stat.exists and playbook_dir_stat.stat.isdir) else false }}"
      playbook_path: "{{ local_playbook_temp }}/application_playbooks/{{ application.key }}"

- block:
  - debug:
      msg: "alt_names: {%- if application.value.network is defined and application.value.network != false -%}{{ application.value.network.hosts }}{%- else -%}['{{ application.key }}.{{ k8s_namespace.key }}.svc']{%- endif -%}"
  - name: "{{ name_prefix }} certificates for internal service"
    vars:
      cert_var: "reg_cert"
      key_var: "reg_key"
      caBundle_var: "caBundle"
      ca_init: false
      ca_openssl_path: "{{ cert_path }}"
      ca_common_name: FreeAsABird
      ca_country_name: XX
      ca_passphrase: "{{ cert_pass }}"
      ca_organization_name: FreeAsABird
      ca_organizational_unit_name: Anarchists
      ca_state_or_province_name: Some-State
      ca_email_address: a.b@c.de
      ca_requests:
      - name: "{%- if application.value.network is defined and application.value.network != false -%}{{ application.value.network.domain }}{%- else -%}{{ application.key }}.{{ k8s_namespace.key }}.svc{%- endif -%}"
        alt_names: "{{ application.value.network.hosts | default([application.key~'.'~k8s_namespace.key~'.svc']) }}"
    include_role: 
      name: certificates
    when: "'flags' in application.value and 'certs' in application.value.flags"

  - name: "{{ name_prefix }} - run helper to process kustomize templates"
    include_role:
      name: shared_helper
      tasks_from: template_directory.yaml
    vars:
      dir_var: build_dir
      template_source_dir: "{{ playbook_dir }}/common/kustomize/{{ application.value.kustom.application | default(application.key) }}"
      image_entry: "{{ images | selectattr('name', 'defined') | selectattr('name', 'equalto', (application.value.images|first) )| first | default(None)}}"
      kustom: "{{ application.value.kustom | default({}) | combine({
         'namespace': k8s_namespace.key,
         'name': application.key,
         'images': images_info if images_info is defined else omit,
         'security': application.value.security | default({}),
         'storage': application.value.storage | default({}),
         'network':  application.value.network | default({}),
         'image': (image_entry.section~'/'~image_entry.name~':'~image_entry.tag if image_entry is not none else omit),
         }) }}"

  - block:
    - name: "{{ name_prefix }} application playbook - additional_images - playbook check"
      ansible.builtin.stat:
        path: "{{ playbook_path }}/additional_images.yaml"
      register: playbook_stat
      delegate_to: localhost

    - name: "{{ name_prefix }} application playbook - additional_images - playbook run}}"
      vars:
        var_additional_images: "{{ app }}_additional_images"
        kustomize_dir: "{{ build_dir }}"
      include_tasks: "{{ playbook_path }}/additional_images.yaml"
      when: playbook_stat.stat.exists and playbook_stat.stat.isreg

    - debug:
        msg: "return from additional_images: {{ lookup('vars', app~'_additional_images') }}"
    when: playbook_dir_exists

  - block:
    - name: "{{ name_prefix }} handle additional images"
      vars:
        limit_images: "{{ application.value.images + lookup('vars', app~'_additional_images') }}"
        default_section: "{{ k8s_namespace.key }}"
        dry_run: "{{ false if 'build' in ansible_run_tags else true }}"
        images_details_var: "images_info"
      include_role:
        name: gentoo-image-builder
    when: application.value.images is defined

  - debug:
      msg: "development exit"
    failed_when: true

  - name: "{{ name_prefix }} kustomize"
    vars:
      kustom: "{{ kustom | combine({'crt': reg_cert.content|b64decode, 'key': reg_key.content|b64decode }) }}"
    shell: |
      kubectl apply -k {{ build_dir }} --force # -conflicts #--server-side
  run_once: true
  
- block:
  - name: "{{ name_prefix }} manage application requirements"
    include_tasks: manage_application_requirements.yaml
    loop: "{{ application.value.requires|default([]) }}"
    loop_control:
      loop_var: rq

- name: "{{ name_prefix }} undef application vars again"
  set_fact:
    "{{ item.key }}": !!null # "{{ undef() }}" doesn't work for facts, so nulling it instead
  loop: "{{ application.value.vars | default({}) | dict2items }}"
  
# traefik
- block:
  - name: "{{ name_prefix }} Middleware stripprefix"
    shell: | 
      kubectl apply -f - <<EOF
      apiVersion: traefik.io/v1alpha1
      kind: Middleware
      metadata:
        name: {{ application.key }}-stripprefix
        namespace: gateway
      spec:
        stripPrefix:
          prefixes:
          - /{{ application.key }}
      EOF
    when: '"no strip" not in application.value.flags'
  - name: "{{ name_prefix }} ingressroute"
    vars:
      route: "{{ net.routes | selectattr('domain','equalto',application.value.network.domain)|first }}"
    shell: | 
      kubectl apply -f - <<EOF
      apiVersion: traefik.io/v1alpha1
      kind: IngressRoute
      metadata:
        name: "{{ application.key }}-{{ item }}"
        namespace: gateway
      spec:
        entryPoints:
        - websecure
        routes:
        - kind: Rule
          match: Host("{{ route.domain if item == 'int' else net.domain_external }}") && PathPrefix("{{ application.value.network.prefix | default('/'~application.key) }}")
          middlewares:
          {% if item  == 'ext' -%}
          - name: redirect-rewriter
          {% endif -%}
          {% if application.key not in net.open_services -%}
          - name: oauth2-proxy
          {% endif -%}
          {% if 'no strip' not in application.value.flags -%}
          - name: {{ application.key }}-stripprefix
          {% endif -%}
          services:
          - name: {{ application.value.network.svcName | default(application.key) }}
            namespace: {{ k8s_namespace.key }}
            port: {{ application.value.network.svcPort }}
        tls:
          secretName: certs
      EOF
    loop: "{{ ['int','ext'] if 'external_port' in route else ['int'] }}"
  when: application.value.network is defined and application.value.network.publish != false and (net.routes | selectattr('domain','equalto',application.value.network.domain) | map(attribute='gateway') | first) == 'traefik'

# istio
- block:
  - name: "{{ name_prefix }} VirtualService(istio)"
    vars:
      gateway: "{{ application.value.network.domain|replace('.','-') }}"
      gateway_namespace: "{{ net.routes | selectattr('domain','equalto',application.value.network.domain) | map(attribute='namespace') | first }}"
    shell: | 
      kubectl apply --force --grace-period=0 -f - <<EOF
      apiVersion: networking.istio.io/v1
      kind: VirtualService
      metadata:
        name: {{ application.key }}
        namespace: {{ gateway_namespace }}
      spec:
        gateways:
         - {{ gateway_namespace }}/{{ gateway }}
        hosts:
        {% for host in application.value.network.hosts %}
        - {{ host }}
        {% endfor -%}
        http:
        - directResponse:
            status: 592
          match:
          - uri:
              prefix: /dummy
          name: dummy
        - match:
            - uri:
                prefix: {{ application.value.network.prefix | regex_replace('//+', '/') }}
          rewrite:
            uriRegexRewrite:
                match: ^{{ (application.value.network.prefix~'/') | regex_replace('//+', '/') }}?(.*)$
                rewrite: {{ (application.value.network.rewrite~'/') | regex_replace('//+', '/') }}\1
          name: {{ application.key }}
          route:
          - destination:
              host: "{{ application.value.network.svcName | default(application.key) }}.{{ k8s_namespace.key }}.svc.cluster.local"
              {% if application.value.network.svcPort is defined -%}
              port:
                number: {{ application.value.network.svcPort }} 
              {% endif %}

      EOF
  when: application.value.network is defined and application.value.network.publish != false and (net.routes | selectattr('domain','equalto',application.value.network.domain) | map(attribute='gateway') | first) == 'istio'

- block:
  - name: "{{ name_prefix }} affinity - label node"
    shell: |
      kubectl label node {{ application.value.affinity }} {{ application.key }}={{ application.key }}
  when: application.value.affinity is defined

