- name: set app fact
  set_fact:
    name_prefix: "namespace:{{ k8s_namespace.key }} app:{{ application.key }} -"
    app: "{{ application.key }}"

- block:
  - debug:
      msg: "alt_names: {%- if application.value.network is defined and application.value.network != false -%}{{ application.value.network.hosts }}{%- else -%}['{{ application.key }}.{{ k8s_namespace.key }}.svc']{%- endif -%}"
  - name: "{{ name_prefix }} certificates for internal service"
    vars:
      cert_var: "reg_cert"
      key_var: "reg_key"
      caBundle_var: "caBundle"
      ca_init: false
      ca_openssl_path: "{{ cert_path }}"
      ca_common_name: FreeAsABird
      ca_country_name: XX
      ca_passphrase: "{{ cert_pass }}"
      ca_organization_name: FreeAsABird
      ca_organizational_unit_name: Anarchists
      ca_state_or_province_name: Some-State
      ca_email_address: a.b@c.de
      ca_requests:
      - name: "{%- if application.value.network is defined and application.value.network != false -%}{{ application.value.network.domain }}{%- else -%}{{ application.key }}.{{ k8s_namespace.key }}.svc{%- endif -%}"
        alt_names: "{{ application.value.network.hosts | default([application.key~'.'~k8s_namespace.key~'.svc']) }}"
    include_role: 
      name: certificates
    when: "'flags' in application.value and 'certs' in application.value.flags"

  - name: "{{ name_prefix }} handle additional images" # to have the images dict recreated with defaults filled
    vars:
      limit_images: []
      default_section: "{{ k8s_namespace.key }}"
      dry_run: "{{ false if 'build' in ansible_run_tags else true }}"
    include_role:
      name: gentoo-image-builder
    when: application.value.images is defined

  - name: "{{ name_prefix }} - run helper to process kustomize templates"
    include_role:
      name: shared_helper
      tasks_from: template_directory.yaml
    vars:
      dir_var: build_dir
      template_source_dir: "{{ playbook_dir }}/common/kustomize/{{ application.value.kustom.application | default(application.key) }}"
      image_entry: "{{ images | selectattr('name', 'defined') | selectattr('name', 'equalto', (application.value.images|first) )| first | default(None)}}"
      kustom: "{{ application.value.kustom | default({}) | combine({
         'namespace': k8s_namespace.key,
         'name': application.key,
         'DELMEimages': images_info if images_info is defined else omit,
         'security': application.value.security | default({}),
         'storage': application.value.storage | default({}),
         'network':  application.value.network | default({}),
         'image': (image_entry.section~'/'~image_entry.name~':'~image_entry.tag if image_entry is not none else omit),
         }) }}"

  - block:
    - name: "{{ name_prefix }} application playbook - additional_images - playbook check"
      ansible.builtin.stat:
        path: "{{ application_playbooks[app] }}/additional_images.yaml"
      register: playbook_stat
      delegate_to: localhost

    - name: "{{ name_prefix }} application playbook - additional_images - playbook run}}"
      vars:
        var_additional_images: "{{ app }}_additional_images"
        kustomize_dir: "{{ build_dir }}"
      include_tasks: "{{ application_playbooks[app] }}/additional_images.yaml"
      when: playbook_stat.stat.exists and playbook_stat.stat.isreg

    - debug:
        msg: "return from additional_images: {{ lookup('vars', app~'_additional_images') }}"
    when: app in application_playbooks


  - block:
    - name: "{{ name_prefix }} update images variables"
      set_fact:
        current_app_images: "{{ images + lookup('vars', app ~ '_additional_images')|default([]) }}"
        current_limit_images: "{{ application.value.images + (lookup('vars', app ~ '_additional_images') | map(attribute='name') | list|default([])) }}"

    - name: "{{ name_prefix }} handle additional images"
      vars:
        limit_images: "{{ current_limit_images }}"
        images: "{{ current_app_images }}"
        default_section: "{{ k8s_namespace.key }}"
        dry_run: "{{ false if 'build' in ansible_run_tags else true }}"
        # unused images_details_var: "images_info"
      include_role:
        name: gentoo-image-builder
    when: application.value.images is defined

  - block:
    - name: "{{ name_prefix }} application playbook - migrate - playbook check"
      ansible.builtin.stat:
        path: "{{ application_playbooks[app] }}/migrate.yaml"
      register: playbook_stat
      delegate_to: localhost

    - name: "{{ name_prefix }} application playbook - migrate - playbook run"
      include_tasks: "{{ application_playbooks[app] }}/migrate.yaml"
      when: playbook_stat.stat.exists and playbook_stat.stat.isreg
    when: app in application_playbooks

  - name: "{{ name_prefix }} kustomize"
    shell: |
      kubectl apply -k {{ build_dir }} --force # -conflicts #--server-side

  - block:
    - name: "{{ name_prefix }} application playbook - post_deployment - playbook check"
      ansible.builtin.stat:
        path: "{{ application_playbooks[app] }}/post_deployment.yaml"
      register: playbook_stat
      delegate_to: localhost

    - name: "{{ name_prefix }} application playbook - post_deployment - playbook run"
      include_tasks: "{{ application_playbooks[app] }}/post_deployment.yaml"
      when: playbook_stat.stat.exists and playbook_stat.stat.isreg
    when: app in application_playbooks
  
- block:
  - name: "{{ name_prefix }} manage application requirements"
    include_tasks: manage_application_requirements.yaml
    loop: "{{ application.value.requires|default([]) }}"
    loop_control:
      loop_var: rq

# traefik
- block:
  - name: "{{ name_prefix }} Middleware stripprefix"
    shell: | 
      kubectl apply -f - <<EOF
      apiVersion: traefik.io/v1alpha1
      kind: Middleware
      metadata:
        name: {{ application.key }}-stripprefix
        namespace: gateway
      spec:
        stripPrefix:
          prefixes:
          - /{{ application.key }}
      EOF
    when: '"no strip" not in application.value.flags'
  - name: "{{ name_prefix }} ingressroute"
    vars:
      route: "{{ net.routes | selectattr('domain','equalto',application.value.network.domain)|first }}"
    shell: | 
      kubectl apply -f - <<EOF
      apiVersion: traefik.io/v1alpha1
      kind: IngressRoute
      metadata:
        name: "{{ application.key }}-{{ item }}"
        namespace: gateway
      spec:
        entryPoints:
        - websecure
        routes:
        - kind: Rule
          match: Host("{{ route.domain if item == 'int' else net.domain_external }}") && PathPrefix("{{ application.value.network.prefix | default('/'~application.key) }}")
          middlewares:
          {% if item  == 'ext' -%}
          - name: redirect-rewriter
          {% endif -%}
          {% if application.key not in net.open_services -%}
          - name: oauth2-proxy
          {% endif -%}
          {% if 'no strip' not in application.value.flags -%}
          - name: {{ application.key }}-stripprefix
          {% endif -%}
          services:
          - name: {{ application.value.network.svcName | default(application.key) }}
            namespace: {{ k8s_namespace.key }}
            port: {{ application.value.network.svcPort }}
        tls:
          secretName: certs
      EOF
    loop: "{{ ['int','ext'] if 'external_port' in route else ['int'] }}"
  when: application.value.network is defined and application.value.network.publish != false and (net.routes | selectattr('domain','equalto',application.value.network.domain) | map(attribute='gateway') | first) == 'traefik'

# istio
- block:
  - name: "{{ name_prefix }} VirtualService(istio)"
    vars:
      gateway: "{{ application.value.network.domain|replace('.','-') }}"
      gateway_namespace: "{{ net.routes | selectattr('domain','equalto',application.value.network.domain) | map(attribute='namespace') | first }}"
    shell: | 
      kubectl apply --force --grace-period=0 -f - <<EOF
      apiVersion: networking.istio.io/v1
      kind: VirtualService
      metadata:
        name: {{ application.key }}
        namespace: {{ gateway_namespace }}
      spec:
        gateways:
         - {{ gateway_namespace }}/{{ gateway }}
        hosts:
        {% for host in application.value.network.hosts %}
        - {{ host }}
        {% endfor -%}
        http:
        - directResponse:
            status: 592
          match:
          - uri:
              prefix: /dummy
          name: dummy
        - match:
            - uri:
                prefix: {{ application.value.network.prefix | regex_replace('//+', '/') }}
          rewrite:
            uriRegexRewrite:
                match: ^{{ (application.value.network.prefix~'/') | regex_replace('//+', '/') }}?(.*)$
                rewrite: {{ (application.value.network.rewrite~'/') | regex_replace('//+', '/') }}\1
          name: {{ application.key }}
          route:
          - destination:
              host: "{{ application.value.network.svcName | default(application.key) }}.{{ k8s_namespace.key }}.svc.cluster.local"
              {% if application.value.network.svcPort is defined -%}
              port:
                number: {{ application.value.network.svcPort }} 
              {% endif %}

      EOF
  when: application.value.network is defined and application.value.network.publish != false and (net.routes | selectattr('domain','equalto',application.value.network.domain) | map(attribute='gateway') | first) == 'istio'

- block:
  - name: "{{ name_prefix }} affinity - label node"
    shell: |
      kubectl label node {{ application.value.affinity }} {{ application.key }}={{ application.key }}
  when: application.value.affinity is defined

