- set_fact:
    dest_base_dir: "{% if storage.type == 'local_folder' %}{{ local_disk_directory }}{% else %}{{ shared_mounts }}{% endif %}/{{ storage.name }}"
    dest: "{% if storage.type == 'local_folder' %}{{ hostvars.keys() }}{% else %}{{ [hostvars.keys() | first] }}{% endif %}"
  run_once: true

- block:
  - name: deploy templates
    include_role:
      name: shared_helper
      tasks_from: template_directory.yaml
    vars:
      destination_dir: "{{ dest_base_dir }}/"
      template_source_dir: "{{ role_path }}/templates/{{ storage.name }}"
      owner: "{{ application.value.security.runAsUser }}"
      group: "{{ application.value.security.runAsGroup }}"
      directoryMode: "{{ application.value.security.directoryMode }}"
      fileMode: "{{ application.value.security.fileMode }}"

  - name: deploy from files
    synchronize:
      src: "{{ role_path }}/files/{{ storage.name }}/./"
      dest: "{{ dest_base_dir }}/"
      rsync_opts:
        - "--relative"
        - "--chown={{ application.value.security.runAsUser }}:{{ application.value.security.runAsGroup }}"
        - "--chmod=D{{ application.value.security.directoryMode }},F{{ application.value.security.fileMode }}"
  when: "inventory_hostname in dest"
