---
- name: tempfile for kubeadm
  tempfile:
    state: file
    suffix: temp
  register: kubeadm_tmp

- name: copy tempfile for kubeadm
  template:
    src: kubeadm.yaml
    dest: "{{ kubeadm_tmp.path }}"
  vars: 
    internal_first_master_ip: "{{ my_cluster_ip }}"
- name: install k8s
  shell: ETCD_DATA_DIR=/data/etcd kubeadm init --upload-certs --config "{{ kubeadm_tmp.path }}"
  register: init_out
  
- name: set k8s_installed for this nodes now
  set_fact:
    k8s_installed: true
    healthy_node: "{{ selected_host }}"

- block:
  - name: install flannel pod network
    shell: |
      mkdir -p /tmp/flannel; cd /tmp/flannel
      curl -O -L https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
      sed -i -e '/k8s-app:/d' -e 's/- --kube-subnet-mgr/- --kube-subnet-mgr\n        - --iface=end0/'  kube-flannel.yml
      yq -iy '(.. | select(type == "object" and has("image"))) |= (.image |= if contains("flannel-cni-plugin:") then "ghcr.io/flannel-io/flannel-cni-plugin:{{ software["flannel-cni-plugin"].version }}" else "ghcr.io/flannel-io/flannel:{{ software.flannel.version }}" end)' kube-flannel.yml
      echo -e 'resources:\n- kube-flannel.yml' > kustomization.yaml
      kubectl apply -k .
    register: flannel_install

  - name: output flannel install
    debug:
      msg: "{{flannel_install}}"
  run_once: true
  delegate_to: "{{ healthy_node }}"

- debug: var=init_out
