---
- name: tempfile for kubeadm
  tempfile:
    state: file
    suffix: temp
  register: kubeadm_tmp

- name: copy tempfile for kubeadm
  template:
    src: kubeadm.yaml
    dest: "{{ kubeadm_tmp.path }}"
  vars: 
    internal_first_master_ip: "{{ my_cluster_ip }}"
- name: install k8s
  shell: ETCD_DATA_DIR=/data/etcd kubeadm init --upload-certs --config "{{ kubeadm_tmp.path }}"
  egister: init_out
  
- name: set k8s_installed for this nodes now
  set_fact:
    k8s_installed: true
    
- debug: var=init_out
