- block:
  - name: get list of images
    shell: kubeadm config images list --kubernetes-version "{{ k8s_version }}" 2>/dev/null
    register: required_images
    changed_when: false

  - name: pull, tag and push k8s images
    shell: |
      echo "arm64 {{ item }} /{{ kubernetes_image_section }}/ # required for kubernetes" | bash pull-tag-push.sh
    with_items: "{{ required_images.stdout_lines }}"
  when:
  - inventory_hostname == selected_host

- name: handle additional images
  vars:
    limit_images:
    - registry
  include_role:
    name: gentoo-image-builder

