- block:
  - name: determine gluster hosts fact
    set_fact:
      gluster_hosts: "{{ groups['all']|list }}"

  - debug: var=ansible_search_path

  - name: set gluster ips and number of replicas
    set_fact:
      replicas: "{{ gluster_hosts | length }}"

  - name: debug
    debug:
      msg: "gluster_hosts: {{ gluster_hosts }}\nreplicas: {{ replicas }}"

  - name: "include secrets"
    include_vars: "{{ local_only }}/secrets"
    
  - name: install additional roles and collections if required
    shell: |
      #ansible-galaxy role install -r {{ playbook_dir }}/requirements.yaml --roles-path {{ playbook_dir }}/roles
      #ansible-galaxy collection install -r requirements.yaml --collections-path {{ playbook_dir }}/collections # replaced by git submodule to have a full local git repo
      (cd "{{ playbook_dir }}"
      {% for role in additional_roles %}
        if ! git config --file .gitmodules --get submodule.submodules/{{ role.repo | basename | regex_replace('\.git$', '') }}.path > /dev/null; then
          git submodule add {{ role.repo }} submodules/{{ role.repo | basename | regex_replace('\.git$', '') }}
        fi
        [ ! -L "roles/{{ role.role }}" ]  && ln -s ../submodules/{{ role.repo | basename | regex_replace('\.git$', '') }}/roles/{{ role.role }} roles/{{ role.role }}
        git submodule update --init --recursive
        git submodule update --remote --merge
        {% endfor %}
      )
    delegate_to: localhost
  run_once: true

- block:
  - name: get my cluster ip
    shell: getent hosts $(hostname) | awk '{print $1}'
    register: getent_hosts

  - name: set my_cluster_ip as fact
    set_fact:
      my_cluster_ip: "{{ getent_hosts.stdout }}"

  - name: print my_cluster_ip
    debug:
      msg: "my_cluster_ip:{{ my_cluster_ip }}"

  - name: "ensure directories exist"
    file:
      path: "{{ item }}"
      recurse: true
      state: directory
    loop:
    - "{{ local_disk_directory }}"
    - "{{ remote_temp }}"

