
# 1. get the version from the longhorn.yaml file
# 2. add fixed version imagers


- name: write declaration locally
  ansible.builtin.shell: |
    set -o pipefail
    kubectl kustomize {{ kustomize_dir }} > {{ kustomize_dir }}/out.yaml
    cat {{ kustomize_dir }}/out.yaml |yq -r 'select(.metadata.name == "longhorn-manager")|select(.kind == "DaemonSet")|.spec.template.spec.containers[] |select(.name == "longhorn-manager") |.command[] ' |grep "/" |grep :
    cat {{ kustomize_dir }}/out.yaml |yq -r 'select(.metadata.name == "longhorn-driver-deployer")|.spec.template.spec.containers[]|select(.name == "longhorn-driver-deployer") |.env[] |select(.name|endswith("IMAGE")) |.value'
  register: source_images
  failed_when: source_images.rc > 1
  changed_when: false

- name: "set var {{ var_additional_images }}"
  set_fact:
    "{{ var_additional_images }}": "{{ 
      [{
        'name': item | split(':') | first | split('/') | last,
        'tag': item | split(':') | last,
        'section': registry_path,
        'type': 'fetch',
        'source': item
      }] }}"
  loop: "{{ source_images.stdout_lines }}"
  failed_when: true
