- name: write declaration locally
  ansible.builtin.shell: |
    set -o pipefail
    kubectl kustomize {{ kustomize_dir }} > {{ kustomize_dir }}/out.yaml
    cat {{ kustomize_dir }}/out.yaml |yq -r 'select(.metadata.name == "longhorn-manager")|select(.kind == "DaemonSet")|.spec.template.spec.containers[] |select(.name == "longhorn-manager") |.command[] ' |grep "/" |grep :
    cat {{ kustomize_dir }}/out.yaml |yq -r 'select(.metadata.name == "longhorn-driver-deployer")|.spec.template.spec.containers[]|select(.name == "longhorn-driver-deployer") |.env[] |select(.name|endswith("IMAGE")) |.value'
  register: source_images
  failed_when: source_images.rc > 1
  changed_when: false

- name: "set var {{ var_additional_images }}"
  set_fact:
    "{{ var_additional_images }}": >-
      {% set results = [] %}
      {% for img in source_images.stdout_lines %}
        {% set _ = results.append({
          'name': img.split('/')[-1].split(':')[0],
          'tag': img.split(':')[-1],
          'section': registry_path,
          'type': 'fetch',
          'source': img
        }) %}
      {% endfor %}
      {{ results }}
