
- name: test for major version update
  ansible.builtin.shell: |
    set -o pipefail
    kubectl diff -k {{ kustomize_dir }} | grep -i "image:" | sort -u | awk '
    /^-/ { match($0, /[0-9]+/); old = substr($0, RSTART, RLENGTH) }
    /^\+/ { match($0, /[0-9]+/); new = substr($0, RSTART, RLENGTH) }
    END { 
      if (old != "" && new != "" && new > old) print "true"; 
      else print "false" 
    }'
  register: major_upgrade_result
  failed_when: major_upgrade_result.rc > 1
  changed_when: false

- name: set upgrade fact
  ansible.builtin.set_fact:
    is_major_upgrade: "{{ major_upgrade_result.stdout | bool }}"

- name: "set var {{ var_additional_images }}"
  vars:
    next: "{{ software.postgresql.version.split('.')[0] | int }}"
    prev: "{{ next - 1 }}"
  set_fact:
    "{{ var_additional_images }}": "{{ 
      [{
        'name': 'pgupgrade'~software.postgresql.version,
        'tag': software.postgresql.version,
        'section': 'db',
        'type': 'gentoo-image-builder',
        'requires': ['postgresql'],
        'build': {'packages': '=dev-db/postgresql-'~prev~'*' }
      }] if is_major_upgrade else [] }}"
