- block:
  - name: stop service
    shell: |
      kubectl scale --replicas=0 -n {{ k8s_namespace.key }} statefulset postgres

  - name: determine node where volume is attached
    shell: |
      pvc=$(kubectl get pvc {{ pg_claim }} -n {{ k8s_namespace.key }} -o jsonpath='{.spec.volumeName}')
      kubectl get volumeattachments -o json | jq -r '.items[] | select(.spec.source.persistentVolumeName=="'$pvc'" and .status.attached==true) | .spec.nodeName'
    register: attachment_node

  - name: run upgrade job
    vars:
      target_node: "{{ attachment_node.stdout }}"
    shell: |
      kubectl delete job -n {{ k8s_namespace.key }} postgres-upgrade
      kubectl apply -f - <<EOF
      {{ postgres_upgrade_job }} 
      EOF
  vars:
   pg_claim: "data-postgres-0"
   postgres_upgrade_job: |
    apiVersion: batch/v1
    kind: Job
    metadata:
      name: postgres-upgrade
      namespace: {{ k8s_namespace.key }}
    spec:
      ttlSecondsAfterFinished: 300 
      backoffLimit: 0
      template:
        spec:
          nodeSelector:
              kubernetes.io/hostname: "{{ attachment_node.stdout }}"
          restartPolicy: Never
          containers:
          - name: upgrade
            image: {{ k8s_namespace.key }}/pgupgrade{{ pg_next }}:{{ pg_next - 1 }}
            volumeMounts:
            - name: pg-data
              mountPath: /var/lib/postgresql
            env:
            - name: PGDATA
              value: /var/lib/postgresql
            command: ["/bin/sh", "-c"]
            args:
              - |
                mkdir -p $PGDATA/data_new ;  chown postgres:postgres $PGDATA/data_new ;pg_upgrade \
                  --old-datadir=$PGDATA/data \
                  --new-datadir=$PGDATA/data_new \
                  --old-bindir=/usr/lib/postgresql-17/bin \
                  --new-bindir=/usr/lib/postgresql-18/bin \
                  -U postgres \
                  --verbose \
                  --link \
                  --check
          volumes:
          - name: pg-data
            persistentVolumeClaim:
              claimName: {{ pg_claim }}
