<h1 id="login-title">Please log in</h1>
<form action="https://open.my-lb.adm13/idp/login" method="POST">
<input type="hidden" name="_csrf" value="7nyGcq2G-yZnn8dGRfzYcqmgXSUlOz3O8Hxw">
<input type="hidden" name="challenge" value="1784f8b199f142f88c83364cc13be91e">
<table>
<tr><td><input type="email" id="email" name="email" value="" placeholder="email@foobar.com"></td><td>(it's "foo@bar.com")</td></tr>

<tr><td><td><input type="password" id="password" name="password"></td><td>(it's "foobar")</td></tr>
</table>
<input type="checkbox" id="remember" name="remember" value="1"><label for="remember">Remember me</label><br>
<input type="submit" id="accept" name="submit" value="Log in">
<input type="submit" id="reject" name="submit" value="Deny access">
</form>
